.bg-image {
    background-image: url('../img/background.jpg');
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 160rem;
}
.bg-color {
      background-color: black;
      background-size: cover;
      background-position: center;
      height: 30rem;
}
.custom-card {
    position: relative;
    width: 96%;
    top: 5%;
    left: 2%;
}
#top-card {
    top: 10%;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #6e6e6e;
    padding: 8px;
    text-align: center;
}

th {

    font-weight: bold;
    text-align: center;
    padding: 10px;
}

td:first-child, th:first-child {
    width: 5%;
}

td:nth-child(2), th:nth-child(2) {
    width: 70%;
}
/*
tr:nth-child(even) {
    background-color: #000000;
}

tr:nth-child(odd) {
    background-color: #181818;
}*/

#accordionExample {
    position: relative;
    width: 96%;
    top: 6%;
    left: 2%;
}
#carouselExampleDark {
    position: relative;
    width: 50%;
    top: 8%;
    left: 25%;
}

.carousel-caption {
    backdrop-filter: blur(8px); /* Установите значение размытия по вашему выбору */
}

#map-card {
    position: relative;
    width: 50%;
    height: 35rem;
    top: 12%;
    left: 25%;
}

#copyright {
    left: 140%;
}

@media  (max-width: 768px) {
    #carouselExampleDark {
        position: relative;
        width: 96%;
        top: 7%;
        left: 2%;
    }
    #map-card {
        position: relative;
        width: 96%;
        height: 30rem;
        top: 10%;
        left: 2%;
    }

}
@media  (max-width: 576px) {
    .bg-image {
        background-image: url('../img/background.jpg');
        background-color: black;
        background-size: cover;
        background-position: center;
        height: 160rem;
    }
    .bg-color {
          background-color: black;
          background-size: cover;
          background-position: center;
          height: 60rem;
    }
}


